
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@await Component.InvokeAsync("AdminDashboardHeadPartial")

    <div class="container-fluid mt-3">

    @await Component.InvokeAsync("AdminDashboardWidgetPartial")


    @await Component.InvokeAsync("AdminDashboardLastStaffList")
        

    @await Component.InvokeAsync("AdminDashboardGetLastBookings")

    @await Component.InvokeAsync("AdminDashboardSubscribeCountComponent")

  
    </div>
    <!-- #/ container -->
@await Component.InvokeAsync("AdminDashboardScriptsComponent")