@model CreateGuestDto
@{
    ViewData["Title"] = "AddGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <label>Soyad</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <button class="btn btn-info">Yeni Konuk Ekle</button>
</form>



