@model CreateRoomDto
@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Oda Numarası</label>
    <input type="text" asp-for="Number" class="form-control" />
    <label>Oda Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Ücret</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <label>Yatak Sayısı</label>
    <input type="text" asp-for="BedCount" class="form-control" />
    <br />
    <label>Banyo Sayısı</label>
    <input type="text" asp-for="BathCount" class="form-control" />
    <br />
    <label>Oda Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Oda Görseli</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />

    <button class="btn btn-info">Odayı Ekle</button>
</form>


